// Design for mobile first


:root {
    font-size: 16px;
}

$main-color: #0B0121;
$main-color-2: #ececec;
$subtitle-color: #f2f4f8;
$main-color-variant: #20035e;
$text-color: $main-color-2;
$dark-textcolor: #0b081c;
$shadow-color: #e9dfff4d;
$shadow-color-2: #bb9bff26;
$shadow-color-3: #9525c9bf;
$icon-shadow: #591dddbf;
$footer-text-color: #939393;

$padding: clamp(20px, 6.6667vw - 1.333px, 26px);

@mixin flex($direction: row, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
@mixin primary-btn($btn-color: $main-color-2, $txt-color: $dark-textcolor, $pad: 12px 24px) {
    border-radius: 9999px;
    background-color: $btn-color;
    color: $txt-color;
    padding: $pad;
    text-align: center;
    cursor: pointer;
}

@mixin secondary-btn($border-color: $main-color-2, $txt-color: $text-color, $pad: 12px 24px) {
    border-radius: 9999px;
    border: solid 1px $border-color;
    color: $txt-color;
    padding: $pad;
    text-align: center;
    cursor: pointer;
}
@mixin box-shadow-1($color: $shadow-color) {
    box-shadow: 0px -2px 10px $color;
}
@mixin box-shadow-2($color: $shadow-color-2) {
    box-shadow: 0px -2px 40px $color;
}
@mixin box-shadow-inner {
    box-shadow: 0px 0.5px 0px 0px #FFFFFF80 inset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

body {
    background-color: $main-color;
    color: $text-color;
}

//Remove default styles for a and button
a {
    color: $text-color;
    text-decoration: none;
}
button {
    border: none;
    background: none;
}


.logo-group {
    @include flex($gap: 10px);
    align-items: center;
    color: $main-color-2;
    width: 138px;
    height: 22px;
    gap: 10px;
    img.logo {
        aspect-ratio: 1/1;
        width: 22px;
    }
    .brand {
        font-size: 22px;
        line-height: 1;
        font-weight: 700 !important;
    }
}
.hide-on-mobile {
    display: none;
}

section {
    padding: $padding;
}
.primary-button {
    @include primary-btn;
}
.secondary-button {
    @include secondary-btn;
}

//Navbar

nav {
    background-color: $main-color;
    @include flex(row,);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83px;
    padding: 0 24px;

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 20px 20px 40px 20px;
        overflow: scroll;
        background-color: $main-color;
        z-index: 100;
        transform: translateX(100%);

        .menu-header {
            @include flex(row, );
            justify-content: space-between;
            align-items: center;
            height: 83px;
        }

        .link-group {
            @include flex(column, 24px);
            padding: 13px;

            a {
                color: white;
                font: {
                    weight: 500;
                    size: 23px;
                }
            }
        }

        .button-group {
            margin-top: auto;
            @include flex(column, 12px);
            a { font-size: 16px; }
        }
    }

    button.menu-button {
        width: 45px;
        height: 44px;
        border-radius: 10px;
        background-color: $main-color-variant;
        @include flex();
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

//Hero section

#hero-section {

    @include flex(column, 50px);
    background-image: url('../images/hero-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    .main-intro {
        padding-top: 50px;
        @include flex(column, 24px);
        align-items: center;
        .header-pill {
            @include secondary-btn($border-color: white, $txt-color: $subtitle-color);
            display: inline-block;
            margin: auto;
            font-size: 12px;
            a:hover {
                text-decoration: underline;
            }
        }
        h1 {
            text-align: center;
            font-size: 43px;
            font-weight: 500;
        }
        p {
            text-align: center;
            font-size: 13px;
            opacity: .65;
        }
        .button-group {
            @include flex();
            justify-content: center;
            width: 100%;
            .primary-button {
                font-size: 16px;
                width: 100%;
                max-width: 500px;
            }
        }
    }

    .image-container {
        width: 100%;
        padding: 4px;

        img.analytics {
            @include box-shadow-1;
            width: 100%;
            border-radius: 24px;
        }

    }
}

//partners

.partners {
    @include flex(column, 40px);
    align-items: center;
    padding: $padding;
    
    p {
        text-align: center;
        color: white;
        font-size: 14px;
    }
    .partner-logos {
        max-width: 100%;
        @include flex($gap: 28px);
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: space-between;
        
        img { height: 20px; }
    }
}

//Features

#features {
    @include flex(column, 50px);
    padding: 35px;
    text-align: center;

    h1 {
        padding: 5px 5px 20px 5px;
        font-size: 42px;
        font-weight: 500;
        line-height: 1.2;
    }
    p.header-text { 
        font-size: 16px;
        line-height: 1.6;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .grid-col-2 {
            gap: 36px;
            .col-n-1 {
                @include flex(column, 16px)
            }
        }
    }
}

.card {
    @include box-shadow-1;
    border-radius: 20px;
    padding: 30px;
    @include flex(column, 16px);
    align-items: first baseline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 100%);
    text-align: left;
    
    h1 {
        font-size: 26px;
        line-height: 1.3;
    }
    p {
        font-size: 14px;
        line-height: 1.4;
    }
    .icon {
        filter: drop-shadow(0px 0px 36px $icon-shadow);
        display: block;
        width: 50px;
        height: 50px;
        float: left;
    }
    a {
        margin-top: auto;
        padding-top: 10px;
        text-decoration: underline;
        color: white;
        font-weight: 500;
    }
    .code-image {
        width: 100%;
        height: auto;
        margin: auto;
        border-radius: 14px;
        box-shadow: 0px -2px 7px $shadow-color;
    }
    button { font-size: 16px }
}

//Call to Action

#call-to-action {
    padding: 60px $padding;
    
    h1, p {
        text-align: center;
    }
    h1 {
        font: {
            weight: 700;
            size: 30px;
        }
        line-height: 1.2;
    }
    p {
        line-height: 1.5;
    }
    .secondary-button {
        margin: auto;
    }
}

//Footer

footer {
    padding: 5px 20px 60px 20px;

    .info-group {
        margin-bottom: 25px;
        h1 {
            padding-bottom: 10px;
            font-size: 24px;
            font-weight: 500;
        }
        p, a {
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 5px;
        }
        a:hover { text-decoration: underline }
    }

    .copyright {
        padding-top: 10px;
        @include flex(column-reverse, 13px);
        align-items: center;
        p { 
            font-weight: 300;
            color: $footer-text-color;
        }
    }
}

// Larger Screens

@media (min-width: 768px) {
    
    $padding: 40px;
    section {
        padding: $padding;
    }
    #hero-section {
        gap: 60px;
        .main-intro {
            gap: 32px;
        }
        .image-container {
            max-width: 750px;
            margin: auto;
        }
    }
    .partners { padding: $padding }

    #features {
        padding: $padding;
        .header-group {
            position: relative;
            max-width: 470px;
            margin: auto;
            background-image: url('../images/transparent-blur.png');
            z-index: 10;
        }

        .col-n-2 {
            place-self: center;
            .code-image {
                max-width: 600px;
            }
        }
    }
    #call-to-action {
        padding: 60px $padding;
    }

    footer {
        padding: {
            left: $padding;
            right: $padding;
        }
    }
}


@media (min-width: 1024px) {
    
    .mobile-only {
        display: none !important;
    }
    .hide-on-mobile {
        display: block;
    }

    nav {
        height: 72px;
        justify-content: space-between;
        padding: 0 60px;
        .nav-menu {
            margin-left: auto;
            padding: 0;
            width: auto;
            @include flex(row, 32px);
            align-items: center;
            height: inherit;
            position: static;
            z-index: 0;
            overflow: hidden;
            transform: translateX(0);
            transition: transform 0s;

            .link-group {
                @include flex(row, 32px);
                align-items: center;
                padding: 0;
                a {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
            .button-group {
                @include flex(row, 32px);
                margin: 0;
            }
        }
    }

    #hero-section {
        padding: 40px;
        .main-intro {
            .header-pill {
                font-size: 16px;
            }
            h1 {
                font-size: 80px;
            }
            p {
                font-size: 18px;
            }
            .button-group {
                @include flex(row,16px);
                width: auto;
                .primary-button {
                    width:auto;
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
        }
        .image-container {
            padding: 40px;
        }
    }

    .partners {
        padding: 60px;
        p { font-size: 20px; }
        .partner-logos {
            justify-content: center;
        }
    }

    #features {
        padding: 60px;
        h1 { font-size: 48px }
        p { font-size: 18px }
        .grid {
            grid-template-columns: 1fr 1fr;
            gap: 40px 24px;
            .grid-col-2 {
                align-items: center;
                grid-column: 1 / span 2;
                gap: 90px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                .col-n-1 {
                    @include flex(column, 16px);
                }
            }
        }
    }

    .card {
        padding: 60px;
    }

    #call-to-action {
        padding: 60px;
        .card {
            padding: 60px 120px;
            h1 {
                font-size: 48px;
                line-height: 1.2;
            }
            p {
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }

    footer {
        padding: 64px;

        .info {
            padding-right: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .copyright {
            @include flex(row);
            justify-content: space-between;
        }
    }

}

//4K

@media (min-width: 3840px) {

}
