:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", "sans-serif";
}

body {
  background-color: #0B0121;
  color: #ececec;
}

a {
  color: #ececec;
  text-decoration: none;
}

button {
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
}

.logo-group {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  color: #ececec;
  width: 8.625rem;
  height: 1.375rem;
}
.logo-group img.logo {
  aspect-ratio: 1/1;
  width: 1.375rem;
}
.logo-group .brand {
  font-size: 1.375rem;
  line-height: 1;
  font-weight: 700 !important;
}

.hide-on-mobile {
  display: none;
}

.primary-button {
  border-radius: 9999px;
  background-color: #ececec;
  color: #0b081c;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.secondary-button {
  border-radius: 9999px;
  border: solid 1px #ececec;
  color: #ececec;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
}

nav {
  background-color: #0B0121;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 24px;
}
nav .nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 40px 20px;
  overflow: scroll;
  background-color: #0B0121;
  z-index: 100;
  transform: translateX(100%);
}
nav .nav-menu .menu-header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
nav .nav-menu .link-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 13px;
}
nav .nav-menu .link-group a {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}
nav .nav-menu .button-group {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
nav .nav-menu .button-group a {
  font-size: 1rem;
}
nav button.menu-button {
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background-color: #20035e;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

section {
  padding: clamp(20px, 6.6666666667vw - 1.333px, 40px);
}

#hero-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-image: url("../images/hero-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#hero-section .main-intro {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
#hero-section .main-intro .header-pill {
  border-radius: 9999px;
  border: solid 1px white;
  color: #f2f4f8;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  font-size: 0.75rem;
  cursor: default;
}
#hero-section .main-intro .header-pill a:hover {
  text-decoration: underline;
}
#hero-section .main-intro h1 {
  text-align: center;
  font-size: 2.6875rem;
  font-weight: 500;
  background: linear-gradient(to bottom, rgb(236, 236, 236), rgba(236, 236, 236, 0.65));
  /* Transparency gradient on text */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero-section .main-intro p {
  text-align: center;
  font-size: 0.8125rem;
  opacity: 0.65;
}
#hero-section .main-intro .button-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  width: 100%;
}
#hero-section .main-intro .button-group .primary-button {
  width: 100%;
  max-width: 500px;
}
#hero-section .image-container {
  width: 100%;
  padding: 1vw;
}
#hero-section .image-container img.analytics {
  box-shadow: 0px -2px 10px rgba(233, 223, 255, 0.3019607843);
  width: 100%;
  border-radius: 24px;
}

#partners {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: clamp(20px, 6.6666666667vw - 1.333px, 40px);
}
#partners p {
  text-align: center;
  color: white;
  font-size: 0.875rem;
}
#partners .partner-logos {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-between;
}
#partners .partner-logos img {
  height: 1.25rem;
}

#features {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 35px;
  text-align: center;
}
#features h1 {
  padding: 0 0 1.25rem 0;
  font-size: 2.625rem;
  font-weight: 500;
  line-height: 1.2;
}
#features p.header-text {
  line-height: 1.6;
}
#features .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#features .grid .grid-col-2 {
  gap: 36px;
}
#features .grid .grid-col-2 .col-n-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  box-shadow: 0px -2px 10px rgba(233, 223, 255, 0.3019607843);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: first baseline;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  text-align: left;
}
.card h2 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.3;
}
.card p {
  font-size: 0.875rem;
  line-height: 1.4;
}
.card .icon {
  filter: drop-shadow(0px 0px 36px rgba(89, 29, 221, 0.7490196078));
  display: block;
  width: 50px;
  height: 50px;
  float: left;
}
.card a {
  margin-top: auto;
  padding-top: 10px;
  text-decoration: underline;
  color: white;
  font-weight: 500;
}
.card .code-image {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 14px;
  box-shadow: 0px -2px 7px rgba(233, 223, 255, 0.3019607843);
}

#call-to-action {
  padding: 60px clamp(20px, 6.6666666667vw - 1.333px, 40px);
}
#call-to-action h1, #call-to-action p {
  margin: auto;
  text-align: center;
}
#call-to-action h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
}
#call-to-action p {
  line-height: 1.5;
}
#call-to-action .secondary-button {
  margin: auto;
}

footer {
  padding: 5px clamp(20px, 6.9444444444vw - 13px, 40px) 60px clamp(20px, 6.9444444444vw - 13px, 40px);
}
footer .info-group {
  margin-bottom: 25px;
}
footer .info-group h1 {
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
footer .info-group p, footer .info-group a {
  display: block;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 5px;
}
footer .info-group a:hover {
  text-decoration: underline;
}
footer .copyright {
  padding-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 13px;
  align-items: center;
}
footer .copyright p {
  font-weight: 300;
  color: #939393;
}

@media (min-width: 768px) {
  section {
    padding: clamp(40px, 30vw - 207px, 90px);
  }
  #hero-section {
    gap: 60px;
  }
  #hero-section .main-intro {
    gap: 32px;
  }
  #hero-section .image-container {
    max-width: 750px;
    margin: auto;
  }
  #partners {
    padding-left: clamp(40px, 30vw - 207px, 90px);
    padding-right: clamp(40px, 30vw - 207px, 90px);
  }
  #features {
    padding-left: clamp(40px, 30vw - 207px, 90px);
    padding-right: clamp(40px, 30vw - 207px, 90px);
  }
  #features .header-group {
    max-width: 470px;
    margin: auto;
  }
  #features .grid {
    gap: 36px;
  }
  #features .col-n-2 {
    place-self: center;
  }
  #features .col-n-2 .code-image {
    max-width: 600px;
  }
  #call-to-action {
    padding: 60px clamp(40px, 30vw - 207px, 90px);
  }
  footer {
    padding-left: clamp(40px, 30vw - 207px, 90px);
    padding-right: clamp(40px, 30vw - 207px, 90px);
  }
}
@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
  .hide-on-mobile {
    display: block;
  }
  nav {
    height: 5rem;
    justify-content: space-between;
    padding: 0 60px;
  }
  nav .nav-menu {
    margin-left: auto;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    height: inherit;
    position: static;
    z-index: 0;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0s;
  }
  nav .nav-menu .link-group {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    padding: 0;
  }
  nav .nav-menu .link-group a {
    font-size: 1rem;
    line-height: 1.5;
  }
  nav .nav-menu .button-group {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
  }
  #hero-section {
    padding: 100px clamp(90px, 36.1vw - 279px, 400px);
  }
  #hero-section .main-intro .header-pill {
    font-size: 1rem;
  }
  #hero-section .main-intro h1 {
    font-size: 5rem;
  }
  #hero-section .main-intro p {
    font-size: 1.125rem;
  }
  #hero-section .main-intro .button-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: auto;
  }
  #hero-section .main-intro .button-group .primary-button {
    width: auto;
    line-height: 1.5;
  }
  #hero-section .image-container {
    padding: 0;
    max-width: 100%;
  }
  #partners {
    padding: 60px;
  }
  #partners p {
    font-size: 1.25rem;
  }
  #partners .partner-logos {
    justify-content: center;
  }
  #features {
    padding: 60px;
    gap: 100px;
  }
  #features .header-group {
    background-image: url("../images/transparent-blur.png");
    background-size: 100% 100%;
  }
  #features .header-group h1 {
    font-size: 3rem;
  }
  #features .header-group p {
    font-size: 1.125rem;
  }
  #features .grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px 24px;
  }
  #features .grid .grid-col-2 {
    align-items: center;
    grid-column: 1/span 2;
    gap: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #features .grid .grid-col-2 .col-n-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .card {
    padding: 60px;
  }
  #call-to-action {
    padding: 100px;
  }
  #call-to-action .card {
    padding: 60px 120px;
  }
  #call-to-action .card h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  #call-to-action .card p {
    font-size: 1.125rem;
    line-height: 1.5;
  }
  footer {
    padding: 64px;
    display: block;
  }
  footer .info {
    padding-right: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
  }
  footer .info .info-group {
    margin: 0;
  }
  footer .copyright {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */