:root {
    --primary-color: #0B0121;
    --secondary-color: #ececec;
    --subtitle-color: #f2f4f8;
    --text-color: var(--secondary-color);
    --primarybtn-txtcolor: #0b081c;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/hero-background.jpg');
    background-color: var(--primary-color);
    color: var(--text-color);
}